.active {
    color: green !important;
  }
  .link {
    color: rgb(17, 17, 3) !important;
    text-decoration: none !important;
  }
  span{
    display: block;
  }
  img{
    width: 180px;
    height: auto;
  }
  li{
    list-style: none !important;
  }